In [60]:
import pandas as pd
import netCDF4 as nc
import numpy as np
import matplotlib.pyplot as plt

In [61]:
df = pd.read_csv('./data/some_degree_days.csv')

In [62]:
# To evaluate weights and scores in the scoring equation.

# df extracted(made) from csv files showing HDD, CDD annually(365 days) for each location. 
# Each csv file cand be generated and downloadable from https://www.degreedays.net/#generate
# I picked some major cities and some minor locations that might represent extreme weathers.
# I used 15.5 degree C of boundary temperature for HDD and CDD

df

                         Location   HDD  MPID   CDD
0                        Portland  1996     3   632
1                         Seattle  1709     3   393
2   Thompson WS(Manitoba, Canada)  6724    20   190
3                         Toronto  2836    10   544
4                       Fairbanks  6697    25   241
5                             NYC  1808     5  1901
6                           Miami    14     0  3951
7                          Denver  2905     3   916
8                              LA   221     0  1467
9                          Moscow  3064    10   365
10             Reykjavik(Iceland)  3683    15     9
11                         Dallas   753     0  2535
12                 Manaus(Brazil)     0     0  4055
13                Khartoum(Sudan)     9     0  7749
14                      Singapore     0     0  4986

In [63]:
# Weights of 0.005 for HDD, 0.004 for CDD and 0.5 for MPID(Must Plug-in Days). 
def calscore():
    EV_score = []
    for i in range(len(df)):
        HDD = df.iloc[i, 1]
        MPID = df.iloc[i, 2]
        CDD = df.iloc[i, 3]
        score = 100 - HDD*0.005 - MPID*0.5 - CDD*0.004
        EV_score.append(score)        
    df['EV_SCORE'] = EV_score
    added_df = df.sort_values(by=['EV_SCORE'], ascending=False)
    return added_df

In [64]:
calscore()

                         Location   HDD  MPID   CDD  EV_SCORE
8                              LA   221     0  1467    93.027
1                         Seattle  1709     3   393    88.383
11                         Dallas   753     0  2535    86.095
0                        Portland  1996     3   632    85.992
6                           Miami    14     0  3951    84.126
12                 Manaus(Brazil)     0     0  4055    83.780
5                             NYC  1808     5  1901    80.856
7                          Denver  2905     3   916    80.311
14                      Singapore     0     0  4986    80.056
3                         Toronto  2836    10   544    78.644
9                          Moscow  3064    10   365    78.220
10             Reykjavik(Iceland)  3683    15     9    74.049
13                Khartoum(Sudan)     9     0  7749    68.959
2   Thompson WS(Manitoba, Canada)  6724    20   190    55.620
4                       Fairbanks  6697    25   241    53.051